@import './constants/colors.scss';
@import './common/normalize.scss';
@import './common/link.scss';
@import './common/button.scss';

* {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;

    &:after, &:before {
        box-sizing: border-box;
    }
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

body, #root {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: $text-dark;
}

.container {
    margin: 0 auto;
    max-width: 1380px;
    padding: 0 20px;
}

.editBtn, .deleteBtn, .seeBtn, .approveBtn {
    border: none;
    width: 24px;
    height: 24px;
}

.editBtn {
    background: url("./images/editBtn.png") no-repeat center;
}

.deleteBtn {
    background: url("./images/deleteBtn.png") no-repeat center;
}

.seeBtn {
    background: url("./images/eyeButton.png") no-repeat center;
}

.approveBtn {
    background: url("./images/approveBtn.png") no-repeat center;
}

.main-title {
    font-family: "PT sans", sans-serif;
    color: $white;
    font-size: 25px;
    line-height: 1.5;
    font-weight: bold;
    margin: 0;
    padding: 0.2em 0;

    .main-title_bg {
        color: $accent-light
    }

    .main-title_sm {
        color: $accent-main;
    }
}

.user-nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.main-link {
    padding: 0 1em;
    color: $white;
    font-size: 14px;
    line-height: 1.5;

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.7;
    }
}

.main-content {
    width: 100%;
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    background-color: $bg-light;
}

.main-content-top,
.main-content-bottom {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.main-content-bottom {

}

.main-content-top {
    background-color: $bg;
}

.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 70%;
    min-width: 500px;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.content_abc-list {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.content_abc-item {
    margin: 0 5px;
    padding: 0.2em;
    font-size: 30px;
    line-height: 1.5;
    column-gap: 20px;
}

.content_abc-letter {
    color: $white;
    font-size: 5rem;
    line-height: 1.5;
    border: 0 none;
    box-shadow: none;
    background-color: transparent;
}

.content_abc-letter:hover,
.content_abc-letter:focus {
    color: $accent-light;
}

.content_abc-letter:active {
    color: $accent-light;
    opacity: 0.6;
}

.content_rules {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.content_rules-letter {
    color: $white;
    font-size: 6rem;
    margin-right: 20px;
}

.content_rules-font-name {
    font-size: 4rem;
    color: $white;
    margin-right: 10px;
}

.content_rules-select {
    cursor: pointer;
    color: $accent-main;
    margin: 0;
    padding: 0;
    border: 0 none;
    background: transparent;
    outline: none;
}

.sidebar {
    position: fixed;
    top: 80px;
    right: 30px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);;
}

div[id^=font-picker] ul li button.active-font {
    background: $accent-hover;
}

.font-selector {
    width: 380px;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    background-color: $white;

    .searchBar {
        width: 100%;
        margin-top: 20px;
    }

    .formDivider {
        margin: 20px 0;
        border-color: $bg-light;
    }

    // .form-item {
    //     width: 100%;
    //     max-width: 100%;
    //     margin: 0;
    //     padding: 0;
    //     display: flex;
    //     flex-wrap: wrap;

    //     label {
    //         margin: 0;
    //         padding: 10px;
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;

    //         input {
    //             margin-right: 5px;
    //         }
    //     }

    // }

    .formInput {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .fontSearch {
        width: 100%;
    }

    // .search-input {
    //     width: 100%;
    //     max-width: 100%;
    //     padding: 5px;
    //     margin: 0;
    //     margin-bottom: 10px;
    //     font-size: 14px;
    // }

    .upload-btn {
        width: 100%;
        max-width: 100%;
        border: 0 none;
        box-shadow: none;
        color: $white;
        background-color: $accent-main;
        text-align: center;
        padding: 20px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;

        &:hover,
        &:focus {
            background-color: $accent-hover;
        }

        &:active {
            background-color: $accent-active;
        }
    }

    .upload-hint {
        font-size: 14px;
        margin-right: auto;
        margin-left: auto;
    }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.h3 {
    font-size: 24px;
    line-height: 150%;
    font-weight: 400;
}

.smallText {
    font-size: 12px;
    line-height: 150%;
    font-weight: 400;
}

.h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 150%;
}

.regular {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}

.bold {
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

// admin screens

.adminScreen {
    padding: 50px 0 20px;
    flex: 1;
    background-color: $bg-light;
    position: relative;

    .adminControls {
        display: flex;
        gap: 30px;
    }

    input {
        width: 430px;
    }

    &Nav {
        flex: 1;

        ul {
            display: flex;
            justify-content: space-between;    
        }
    }

    .adminNavItem {    
        a {
            &.active {
                color: $accent-letter;

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: $accent-letter;
                    left: 0;
                    top: 120%;
                }
            }
        }

        a {
            text-decoration: none;
            position: relative;
            transition: .3s;

            &:hover, &:focus {
                outline: none;
                color: $accent-main;
            }
        }
    }

    .button {
        width: 100%;
        margin-top: 20px;
    }
}

.adminTable {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-item {
        padding: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        border-radius: 10px;
        min-height: 44px;
    
        .table-cell {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10%;
            text-align: center;
            padding: 0 10px;

            &.wide {
                width: auto;
                flex: 1;
            }
        }
    
        .rule {
            flex: 1;
            text-align: left;
        }
    
        .mainLetter, .extraLetter {
            width: 12%;
        }
    
        &.table-header {
            background-color: transparent;
            font-weight: bold;
            padding: 0 20px;
        }
    
        .actions {
            display: flex;
            gap: 10px;

            &.semi-wide {
                width: 11%;
            }
        }

        .source {
            flex: 1;
            word-break: break-all;
        }

        .fontName {
            width: 15%;
        }

        .license {
            width: 13%;
        }

        .user {
            width: 15%;
        }

        .link {
            &:after {
                display: none;
            }
        }
    }
}

// end admin screens