@import './constants/colors.scss';
@import './common/normalize.scss';
@import './common/link.scss';
@import './common/button.scss';

* {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;

    &:after, &:before {
        box-sizing: border-box;
    }
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

a {
    color: inherit;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

body {
    color: $text-dark;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
}

.h3 {
    font-size: 24px;
    line-height: 150%;
    font-weight: 400;
}

.smallText {
    font-size: 12px;
    line-height: 150%;
    font-weight: 400;
}

.h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 150%;
}

.regular {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}

.bold {
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}