.button {
    width: 99px;
    height: 56px;
    background-color: $accent-main;
    color: $white;
    border: none;
    transition: .3s;
    outline: none;
    border-radius: 2px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;

    &:hover, &:focus {
        background-color: $accent-hover;
    }
    
    &.active, &:active {
        background-color: $accent-active;
    }

    &.secondary {
        width: 163px;
        height: 40px;
    }

    &.primary {
        width: 200px;
        height: 56px;
    }
}