$accent-main: #F2A947;
$accent-light: #FF6847;
$accent-dark: #C20011;
$text-dark: #344650;
$text-light: #BFBFBF;
$white: #fff;
$accent-hover: #F6C37E;
$accent-active: #E08710;
$bg-light: #F8F9FD;
$bg: #971D29;
$accent-letter: #DA4C31;
