@import '../../constants/colors.scss';

.adminScreen {
    padding: 50px 0 20px;
    flex: 1;
    background-color: $bg-light;
    position: relative;

    .adminControls {
        display: flex;
        gap: 30px;
    }

    input {
        width: 430px;
    }

    &Nav {
        flex: 1;

        ul {
            display: flex;
            justify-content: space-between;    
        }
    }

    .adminNavItem {
        a {
            text-decoration: none;
            position: relative;
            transition: .3s;

            &:hover {
                color: $accent-main;
            }
        }

        &.active {
            a {
                color: $accent-letter;

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: $accent-letter;
                    left: 0;
                    top: 120%;
                }
            }
        }
    }

    .button {
        width: 100%;
        max-width: 1340px;
        position: fixed;
    }
}

.adminTable {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    &-item {
        padding: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        border-radius: 10px;
        min-height: 44px;

        .table-cell {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 9%;
            text-align: center;
            padding: 0 10px;
        }
    
        .rule {
            flex: 1;
            text-align: left;
        }

        .mainLetter, .extraLetter {
            width: 12%;
        }

        &.table-header {
            background-color: transparent;
            font-weight: bold;
            padding: 0 20px;

        }
    }
}