@import '../../constants/colors.scss';

.not-found {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.not-found__bg-image {
    margin: 0;
    padding: 0;
    align-self: center;

    img {
        margin-top: 100px;
    }
}

.not-found__link {
    align-self: center;

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.7;
    }
}